<main class="site-body">
  <section class="section-inner">
    <h1>The Bahá’í Calendar</h1>
    <blockquote>
      <p>“… yet another historic step in the manifestation of the unity of the people of Bahá and the unfoldment of Bahá’u’lláh’s World Order.”</p>
    </blockquote>

    <h2>What is happening?</h2>
    <blockquote>
      <p>We call upon the Bahá’ís of the East and West to adopt, on that auspicious occasion [20 March 2015], the provisions that will unite them in the common implementation of the Badí‘ calendar.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>A new calendar</h2>
    <blockquote>
      <p>The Báb signalized the importance of the dispensation which He came to herald by inaugurating a new calendar. In this, as in the Gregorian Calendar, the lunar month is abandoned and the solar year is adopted.</p>
      <footer>- <em>Dr. J. E. Esslemont, Bahá’u’lláh and the New Era</em></footer>
    </blockquote>

    <h2>A common calendar</h2>
    <blockquote>
      <p>In the not distant future it will be necessary that all peoples in the world agree on a common calendar.</p>
      <p>It seems, therefore, fitting that the new age of unity should have a new calendar free from the objections and associations which make each of the older calendars unacceptable to large section of the world’s population, and it is difficult to see how any other arrangement could exceed in simplicity and convenience that proposed by the Báb.</p>
      <footer>- <em>Dr. J. E. Esslemont, Bahá’u’lláh and the New Era</em></footer>
    </blockquote>

    <h2>Badí‘ Calendar background</h2>
    <blockquote>
      <p>The Báb introduced a new calendar, known now as the Badí‘ or Bahá'í calendar. According to this calendar, a day is the period from sunset to sunset. In the Bayán, the Báb ordained the month of ‘Alá' to be the month of fasting, decreed that the day of Naw-Rúz should mark the termination of that period, and designated Naw-Rúz as the Day of God. Bahá'u'lláh confirms the Badí‘ calendar wherein Naw-Rúz is designated as a feast.</p>
      <p>Naw-Rúz is the first day of the new year. It coincides with the spring equinox in the northern hemisphere, which usually occurs on 21 March. Bahá'u'lláh explains that this feast day is to be celebrated on whatever day the sun passes into the constellation of Aries (i.e. the vernal equinox), even should this occur one minute before sunset. Hence Naw-Rúz could fall on 20, 21, or 22 March, depending on the time of the equinox.</p>
      <footer>- <em>Kitáb-i-Aqdas, n26</em></footer>
    </blockquote>

    <h2>Badí‘ Calendar basics</h2>
    <ul>
      <li>Badí‘ = “wondrous”</li>
      <li>The Bahá’í year consists of 19 months of 19 days each (361 days total)</li>
      <ul>
        <li>4-5 intercalary days (Ayyám-i-Há) between the 18th and 19th month</li>
      </ul>
      <li>Each month and day is named after the attributes of God</li>
      <ul>
        <li>The Báb named them according to the verses of the “Prayer of Glory” – an Islamic prayer</li>
      </ul>
      <li>The first day of the week is Saturday</li>
      <ul>
        <li>Friday is the day of rest</li>
      </ul>
      <li>Year 1 is fixed to the year of the Declaration of the Báb (23 May 1844)</li>
    </ul>

    <h2>Badí‘ Calendar units</h2>
    <ul>
      <li>19 days = 1 month</li>
      <li>19 months + Ayyám-i-Há = 1 year</li>
      <li>19 years = 1 Vahíd (“unity”)</li>
      <li>19 Vahíds = 1 Kull-i-Shay’ (“all things”)</li>
    </ul>

    <h2>Badí‘ Calendar Days of the Week</h2>
    <table>
      <thead>
        <tr>
          <th>Arabic Name</th>
          <th>English Translation</th>
          <th>Day of the Week</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jalál</td>
          <td>Glory</td>
          <td>Saturday</td>
        </tr>
        <tr>
          <td>Jamál</td>
          <td>Beauty</td>
          <td>Sunday</td>
        </tr>
        <tr>
          <td>Kamál</td>
          <td>Perfection</td>
          <td>Monday</td>
        </tr>
        <tr>
          <td>Fidál</td>
          <td>Grace</td>
          <td>Tuesday</td>
        </tr>
        <tr>
          <td>‘Iḍál</td>
          <td>Justice</td>
          <td>Wednesday</td>
        </tr>
        <tr>
          <td>Istijlál</td>
          <td>Majesty</td>
          <td>Thursday</td>
        </tr>
        <tr>
          <td>Istiqlál</td>
          <td>Independence</td>
          <td>Friday</td>
        </tr>
      </tbody>
    </table>

    <h2>Grouping of the months</h2>
    <blockquote>
      <p>The Báb grouped the months into four groups corresponding to the opening words of the Bayán:</p>
      <ul>
        <li><b>Fire of God:</b> the months of glorification (Bahá, Jalál, Jamál)</li>
        <ul>
          <li>“the fire of the hearts of existent beings is kindled”</li>
        </ul>
        <li><b>Air of eternity:</b> the months of celebration and praise (‘Azamat, Núr, Rahmat, Kalimát)</li>
        <ul>
          <li>“the spirits of the contingent beings are created, during which time they are provided for”</li>
        </ul>
        <li><b>Water of Divine Unity:</b> the months of the exaltation of unity (Kamál, Asmá’, ‘Izzat, Mashíyyat, ‘Ilm, Qudrat)</li>
        <ul>
          <li>“God causeth the beings to expire, not as a physical death, but the death of negation and life in affirmation”</li>
        </ul>
        <li><b>Sacred realm of the earth:</b> the months of magnification (Qawl, Masá’il, Sharaf, Sultán, Mulk, ‘Alá’)</li>
        <ul>
          <li>“the Lord of the universe, glorified and exalted be He, quickeneth those souls who have died to the love of anyone other than Him and have remained steadfast in His love”</li>
        </ul>
      </ul>
      <footer>- <em>Dr. Nader Saiedi, Gate of the Heart</em></footer>
    </blockquote>

    <h2>Progressive Revelation</h2>
    <blockquote>
      <p>In keeping with the principle governing the gradual unfoldment and progressive application of the Teachings, the provisions of the Badí‘ calendar have been set forth over time. The Báb introduced the calendar and its broad pattern of periods and cycles, months and days. Bahá’u’lláh provided essential clarifications and additions. Aspects were elucidated by ‘Abdu’l-Bahá, and arrangements for its adoption in the West were put in place at the direction of Shoghi Effendi…</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>Ambiguities</h2>
    <blockquote>
      <p>Still, ambiguities surrounding some Islamic and Gregorian dates, as well as difficulties in the correlation of historical observances and astronomical events with explicit statements in the Text, left certain issues unresolved. When responding to questions concerning the calendar, both ‘Abdu’l-Bahá and Shoghi Effendi left these matters to the Universal House of Justice.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>What were the difficulties?</h2>
    <blockquote>
      <p>Of its many features, three require clarification for the calendar's uniform application:</p>
      <ol>
        <li>the means for the determination of Naw-Rúz</li>
        <li>the accommodation of the lunar character of the Twin Holy Birthdays within the solar year,</li>
        <li>and the fixing of the dates of the Holy Days within the Badí‘ calendar.</li>
      </ol>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>The means for the determination of Naw-Rúz</h2>
    <blockquote>
      <p>Bahá’u’lláh has left the details of many laws to be filled in by the Universal House of Justice. Among these are a number of matters affecting the Bahá'í calendar. The Guardian has stated that the implementation, worldwide, of the law concerning the timing of Naw-Rúz will require the choice of a particular spot on earth which will serve as the standard for the fixing of the time of the spring equinox. He also indicated that the choice of this spot has been left to the decision of the Universal House of Justice.</p>
      <footer>- <em>Kitáb-i-Aqdas, n26</em></footer>
    </blockquote>

    <h2>Determining Naw-Rúz</h2>
    <blockquote>
      <p>“The Festival of Naw-Rúz falleth on the day that the sun entereth the sign of Aries,” Bahá’u’lláh explains in His Most Holy Book, “even should this occur no more than one minute before sunset.” However, details have, until now, been left undefined. We have decided that Tihrán, the birthplace of the Abhá Beauty, will be the spot on the earth that will serve as the standard for determining, by means of astronomical computations from reliable sources, the moment of the vernal equinox in the northern hemisphere and thereby the day of Naw-Rúz for the Bahá’í world.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>Why Tihrán?</h2>
    <blockquote>
      <p>Tihrán has been designated by Bahá’u’lláh as:</p>
      <ul>
        <li>“the mother of the world”</li>
        <li>“the source of the joy of all mankind”</li>
        <li>“the holy and shining city”</li>
        <li>“the land of resplendent glory”</li>
        <li>“the seat of sovereignty”</li>
        <li>“the Abode of supreme blissfulness”</li>
      </ul>
    </blockquote>

    <h2>Let nothing grieve thee…</h2>
    <blockquote>
      <p>Let nothing grieve thee, O Land of Tá (Tihrán), for God hath chosen thee to be the source of the joy of all mankind. He shall, if it be His Will, bless thy throne with one who will rule with justice, who will gather together the flock of God which the wolves have scattered. Such a ruler will, with joy and gladness, turn his face towards, and extend his favors unto, the people of Bahá. He indeed is accounted in the sight of God as a jewel among men. Upon him rest forever the glory of God, and the glory of all that dwell in the kingdom of His revelation.</p>
      <p>Rejoice with great joy, for God hath made thee “the Day Spring of His light,” inasmuch as within thee was born the Manifestation of His Glory. Be thou glad for this name that hath been conferred upon thee—a name through which the Day Star of grace hath shed its splendor, through which both earth and heaven have been illumined.</p>
      <p>Ere long will the state of affairs within thee be changed, and the reins of power fall into the hands of the people. Verily, thy Lord is the All-Knowing. His authority embraceth all things. Rest thou assured in the gracious favor of thy Lord. The eye of His loving-kindness shall everlastingly be directed towards thee. The day is approaching when thy agitation will have been transmuted into peace and quiet calm. Thus hath it been decreed in the wondrous Book.</p>
      <footer>- <em>Kitáb-i-Aqdas (§91-93)</em></footer>
    </blockquote>

    <h2>Naw-Rúz in the future</h2>
    <table>
      <thead>
        <tr>
          <th>Year</th>
          <th>Spring Equinox</th>
          <th>Naw-Rúz Falls On</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2015</td>
          <td>21 March 02:15 IRST</td>
          <td>21 March</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>20 March 08:00 IRST</td>
          <td>20 March</td>
        </tr>
        <tr>
          <td>2017</td>
          <td>20 March 13:59 IRST</td>
          <td>20 March</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>20 March 19:45 IRST</td>
          <td>21 March</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>21 March 01:28 IRST</td>
          <td>21 March</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>20 March 07:20 IRST</td>
          <td>20 March</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>20 March 13:07 IRST</td>
          <td>20 March</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>20 March 19:03 IRST</td>
          <td>21 March</td>
        </tr>
        <tr>
          <td>2023</td>
          <td>21 March 00:54 IRST</td>
          <td>21 March</td>
        </tr>
        <tr>
          <td>2024</td>
          <td>20 March 06:36 IRST</td>
          <td>20 March</td>
        </tr>
      </tbody>
    </table>

    <p>Source: <a href="http://www.timeanddate.com/calendar/seasons.html?year=2015&n=246">timeanddate.com</a> (Note: Sunset falls on 18:16 on 20 March)</p>

    <h2>The Twin Holy Birthdays</h2>
    <blockquote>
      <p>All Feasts have attained their consummation in the two Most Great Festivals, and in the two other Festivals that fall on the twin days…</p>
      <footer>- <em>Kitáb-i-Aqdas, §110</em></footer>
    </blockquote>

    <blockquote>
      <p>The “two other Festivals” are the anniversaries of the births of Bahá'u'lláh and the Báb. In the Muslim lunar calendar these fall on consecutive days, the birth of Bahá’u’lláh on the second day of the month of Muharram 1233 A.H. (12 November 1817), and the birth of the Báb on the first day of the same month 1235 A.H. (20 October 1819), respectively.</p>
      <footer>- <em>Kitáb-i-Aqdas, n138</em></footer>
    </blockquote>

    <h2>Concerning the Festival of the Twin Birthdays</h2>
    <blockquote>
      <p>The Birth of the Abhá Beauty [Bahá’u’lláh] was at the hour of dawn on the second day of the month of Muharram [first month of the Islamic lunar calendar], the first day of which marketh the Birth of His Herald. These two days are accounted as one in the sight of God.</p>
      <footer>- <em>Kitáb-i-Aqdas, q2</em></footer>
    </blockquote>

    <h2>Celebrating the Twin Birthdays</h2>
    <blockquote>
      <p>The Festivals of the Twin Birthdays, the Birth of the Báb and the Birth of Bahá’u’lláh, have, in the East, been traditionally observed according to their correspondence to the first and second days of Muharram in the Islamic calendar.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>Fixing the date of the Twin Birthdays</h2>
    <blockquote>
      <p>In the future, no doubt all of the Holy Days will follow the Solar calendar, and provisions be made as to how the Twin Festivals will be celebrated universally.</p>
      <footer>- <em>Letter written on behalf of the Guardian, 10 November 1955</em></footer>
    </blockquote>

    <blockquote>
      <p>How to satisfy the intrinsic lunar character of these blessed Days within the context of a solar calendar has hitherto been unanswered. We have decided that they will now be observed on the first and the second day following the occurrence of the eighth new moon after Naw-Rúz, as determined in advance by astronomical tables using Tihrán as the point of reference.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>Why the eighth new moon?</h2>
    <ul>
      <li>According to <a href="http://www.timeanddate.com/calendar/?year=1817&country=75">timeanddate.com</a>, there were 8 new moons between Naw-Rúz (21 March) and the birth of Bahá’u’lláh(12 November) in 1817</li>
      <ul>
        <li>The new moon was on 9 November</li>
        <li>11 November was 1 Muharram</li>
      </ul>
      <li>The Universal House of Justice preserves the lunar element of the Twin Birthdays, but they will float between the solar months of October and November</li>
    </ul>

    <h2>Twin Birthdays moving</h2>
    <blockquote>
      <p>This will result in the observance of the Twin Birthdays moving, year to year, within the months of Mashíyyat, ‘Ilm, and Qudrat of the Badi‘ calendar, or from mid-October to mid-November according to the Gregorian calendar.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>Bicentennial Anniversaries</h2>
    <blockquote>
      <p>With joy and eager anticipation, we look to the upcoming bicentennial anniversaries of the Birth of Bahá’u’lláh and the Birth of the Báb, in 174 and 176 B.E., respectively, which the entire Bahá'í world will celebrate according to a common calendar.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>The other Holy Days</h2>
    <blockquote>
      <p>The dates of the remaining Holy Days will be fixed within the solar calendar in accordance with explicit statements of Bahá’u’lláh, ‘Abdu’l-Bahá, and Shoghi Effendi; we have decided to set aside certain discrepancies in the historical record.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>Ayyám-i-Há</h2>
    <blockquote>
      <p>Let the days in excess of the months be placed before the month of fasting. We have ordained that these, amid all nights and days, shall be the manifestations of the letter Há, and thus they have not been bounded by the limits of the year and its months.</p>
      <footer>- <em>Kitáb-i-Aqdas, §16</em></footer>
    </blockquote>
    <blockquote>
      <p>Known as the Ayyám-i-Há (the Days of Há), the Intercalary Days have the distinction of being associated with “the letter Há”. The abjad numerical value of this Arabic letter is five, which corresponds to the potential number of intercalary days.</p>
      <p>The letter “Há” has been given several spiritual meanings in the Holy Writings, among which is as a symbol of the Essence of God.</p>
      <footer>- <em>Kitáb-i-Aqdas, n28</em></footer>
    </blockquote>

    <h2>Number of days of Ayyám-i-Há</h2>
    <blockquote>
      <p>The number of days of Ayyám-i-Há will vary according to the timing of the vernal equinox in successive years; the year commencing on Naw-Rúz 172 B.E. will include four such days.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>Significant dates – 19-Day Feasts</h2>
    <table>
      <thead>
        <tr>
          <th>Month</th>
          <th>Badí‘ calendar</th>
          <th>Gregorian calendar (2015)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bahá (Splendor)</td>
          <td>1 Bahá</td>
          <td>21 March 2015</td>
        </tr>
        <tr>
          <td>Jalál (Glory)</td>
          <td>1 Jalál</td>
          <td>9 April</td>
        </tr>
        <tr>
          <td>Jamál (Beauty)</td>
          <td>1 Jamál</td>
          <td>28 April</td>
        </tr>
        <tr>
          <td>‘Azamat (Grandeur)</td>
          <td>1 ‘Azamat</td>
          <td>17 May</td>
        </tr>
        <tr>
          <td>Núr (Light)</td>
          <td>1 Núr</td>
          <td>5 June</td>
        </tr>
        <tr>
          <td>Rahmat (Mercy)</td>
          <td>1 Rahmat</td>
          <td>24 June</td>
        </tr>
        <tr>
          <td>Kalimát (Words)</td>
          <td>1 Kalimát</td>
          <td>13 July</td>
        </tr>
        <tr>
          <td>Kamál (Perfection)</td>
          <td>1 Kamál</td>
          <td>1 August</td>
        </tr>
        <tr>
          <td>Asmá’ (Names)</td>
          <td>1 Asmá’</td>
          <td>20 August</td>
        </tr>
        <tr>
          <td>‘Izzat (Might)</td>
          <td>1 ‘Izzat</td>
          <td>8 September</td>
        </tr>
        <tr>
          <td>Mashíyyat (Will)</td>
          <td>1 Mashíyyat</td>
          <td>27 September</td>
        </tr>
        <tr>
          <td>‘Ilm (Knowledge)</td>
          <td>1 ‘Ilm</td>
          <td>16 October</td>
        </tr>
        <tr>
          <td>Qudrat (Power)</td>
          <td>1 Qudrat</td>
          <td>4 November</td>
        </tr>
        <tr>
          <td>Qawl (Speech)</td>
          <td>1 Qawl</td>
          <td>23 November</td>
        </tr>
        <tr>
          <td>Masá’il (Questions)</td>
          <td>1 Masá’il</td>
          <td>12 December</td>
        </tr>
        <tr>
          <td>Sharaf (Honour)</td>
          <td>1 Sharaf</td>
          <td>31 December</td>
        </tr>
        <tr>
          <td>Sultán (Sovereignty)</td>
          <td>1 Sultán</td>
          <td>19 January 2016</td>
        </tr>
        <tr>
          <td>Mulk (Dominion)</td>
          <td>1 Mulk</td>
          <td>7 February</td>
        </tr>
        <tr>
          <td>‘Alá’ (Loftiness)</td>
          <td>1 ‘Alá</td>
          <td>1 March</td>
        </tr>
        <tr>
          <td>Ayyám-i-Há</td>
          <td>1 to 4 Ayyám-i-Há</td>
          <td>26 to 29 February</td>
        </tr>
        <tr>
          <td>Month of Fasting</td>
          <td>1 to 19 ‘Alá</td>
          <td>1 to 19 March</td>
        </tr>
      </tbody>
    </table>

    <h2>Significant dates – Holy Days</h2>
    <table>
      <thead>
        <tr>
          <th>Holy Day</th>
          <th>Days after Naw-Rúz</th>
          <th>Badí calendar</th>
          <th>Gregorian calendar</th>
          <th>Work suspended?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Naw-Rúz</td>
          <td>-</td>
          <td>1 Bahá</td>
          <td>21 March</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>First Day of Ridván</td>
          <td>31</td>
          <td>13 Jalál</td>
          <td>21 April</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Ninth Day of Ridván</td>
          <td>39</td>
          <td>2 Jamál</td>
          <td>29 April</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Twelfth Day of Ridván</td>
          <td>42</td>
          <td>5 Jamál</td>
          <td>2 May</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Declaration of the Báb</td>
          <td>64</td>
          <td>8 ‘Azamat</td>
          <td>24 May</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Ascension of Bahá’u’lláh</td>
          <td>69</td>
          <td>13 ‘Azamat</td>
          <td>29 May</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Martyrdom of the Báb</td>
          <td>111</td>
          <td>17 Rahmat</td>
          <td>10 July</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Birth of the Báb</td>
          <td>First day after eighth new moon following Naw-Rúz</td>
          <td>10 Qudrat</td>
          <td>13 November</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Birth of Bahá’u’lláh</td>
          <td>(The day after)</td>
          <td>11 Qudrat</td>
          <td>14 November</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Day of the Covenant</td>
          <td>250</td>
          <td>4 Qawl</td>
          <td>26 November</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Ascension of ‘Abdu’l-Bahá</td>
          <td>252</td>
          <td>6 Qawl</td>
          <td>28 November</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

    <h2>What about the previous guidance?</h2>
    <blockquote>
      <p>Unless specifically abrogated by these new provisions, previous guidance and clarifications pertaining to the calendar and the observance of the Nineteen Day Feast and Holy Days remain binding, such as</p>
      <ul>
        <li>the beginning of the day at sunset,</li>
        <li>the suspension of work,</li>
        <li>and the hours at which certain Holy Days are commemorated.</li>
      </ul>
      <p>In future, a change in circumstances may well require additional measures.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>How do we call dates?</h2>
    <blockquote>
      <p>The House of Justice has made no decision regarding the dating of correspondence and documents, and Bahá’í institutions and individual believers are free to use their discretion in this regard.</p>
      <footer>- <em>Department of the Secretariat, 10 July 2014</em></footer>
    </blockquote>

    <h2>The power of Divine Revelation</h2>
    <blockquote>
      <p>The adoption of a new calendar in each dispensation is a symbol of the power of Divine Revelation to reshape human perception of material, social, and spiritual reality. Through it, sacred moments are distinguished, humanity's place in time and space reimagined, and the rhythm of life recast. Next Naw-Rúz will mark yet another historic step in the manifestation of the unity of the people of Bahá and the unfoldment of Bahá’u’lláh’s World Order.</p>
      <footer>- <em>Universal House of Justice, 10 July 2014</em></footer>
    </blockquote>

    <h2>Links</h2>
    <ul>
      <li><a href="http://universalhouseofjustice.bahai.org/activities-bahai-community/20140710_001">Letter from the Universal House of Justice, 10 July 2014, to the Bahá’ís of the World</a></li>
      <li><a href="https://www.youtube.com/watch?v=QtfvzI3TofM">The Badí‘ Calendar” video, from the National Spiritual Assembly of the Bahá’ís of the UK, 2015</a></li>
      <li><a href="http://bahaitalks.blogspot.ca/2015/04/the-ninth-cycle-of-bahai-calendar-and.html">Article by Mr. ‘Ali Nakhjavani, “The ninth cycle of the Bahá’í calendar and its relationship to the teaching work.”</a></li>
      <li><a href="https://soundcloud.com/bahai-blog/identity-and-the-spiritual-journey-in-the-badi-calendar">Nader Saeidi, “Identity and the Spiritual Journey in the Badí‘ Calendar” (~99 mins)</a></li>
      <li><a href="http://www.bahaidate.today">Today’s Bahá’í date</a></li>
      <li><a href="http://www.timeanddate.com/calendar/seasons.html?year=2015&n=246">Sunrise and sunset times for Tihrán</a></li>
      <li><a href="http://en.wikipedia.org/wiki/Bah%C3%A1%27%C3%AD_calendar">Bahá’í Calendar on Wikipedia</a></li>
    </ul>
  </section>
</main>
