$site-width: 850px;
$breakpoint-sm: 640px;
$breakpoint-md: 900px;
$breakpoint-lg: 1120px;

$color-black: #000;
$color-white: #fff;
$color-white-dull: #f0f0f0;
$color-selection: #bbb;
$color-brand-100: #B3E5FC;
$color-brand-200: #81D4FA;
$color-brand-300: #4FC3F7;
$color-brand-400: #29B6F6;
$color-brand-500: #03A9F4;
$color-content: #333;
$color-input: $color-content;
$color-error: #ff9494;
$color-success: #39cccc;
$color-border: #ddd;

$body-bg: $color-white;
$body-font-size: 16px;
$body-line-height: 1;
$global-radius: 5px;
$global-radius-sm: 3px;
$global-transition: 0.2s ease;
$global-spacing: 8px;
