  <div id='timeline-embed' style="width: 95%; height: 90%; position: absolute"></div>

  <script type="text/javascript">
  var options = {
  language: 'en',
  initial_zoom: 0,
  timenav_height_percentage: 30
}

    timeline = new TL.Timeline('timeline-embed', <%= create_timeline.html_safe %>, options);
  </script>
