.btn {
  font-size: 16px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  min-width: 200px;
  min-height: 36px;
  padding: 0;
  margin: $global-spacing;
  border: 0;
  border-radius: $global-radius-sm;
  transition: background-color $global-transition, color $global-transition, border-color $global-transition;

  &.btn-primary {
    background-color: $color-brand-500;

    &:hover,
    &:focus {
      background-color: $color-brand-300;
    }
  }

  &.btn-secondary {
    background-color: $color-brand-highlight-500;

    &:hover,
    &:focus {
      background-color: $color-brand-highlight-300;
    }
  }

  &.is-tiny {
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    min-width: 0;
    min-height: 28px;
    padding: 0 $global-spacing;
    margin: 0;
  }

  &.btn-new_event {
    margin: -5px 0 0;
    float: right;
  }

  .form & {
    @extend %centerBlock;
    display: block;
  }
}
