.site-body {
  h1 {
    padding-bottom: ($global-spacing * 6);
  }

  h2 {
    padding-top: $global-spacing;
    padding-bottom: ($global-spacing * 2);
  }

  ul,
  ol,
  p,
  blockquote {
    padding-bottom: ($global-spacing * 3);
  }

  ul,
  ol {
    padding-left: ($global-spacing * 2);

    ul {
      padding-bottom: 0;
    }
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }

  p,
  li,
  th,
  td {
    line-height: 24px;

    a:not(.btn) {
      color: $color-brand-400;
      transition: color $global-transition;

      &:hover {
        color: $color-brand-200;
      }
    }
  }

  li {
    padding-bottom: $global-spacing;
  }

  blockquote {
    p,
    ul,
    ol {
      padding-bottom: 0;
    }

    p + p,
    p + ul,
    p + ol,
    ul + p,
    ol + p {
      padding-top: $global-spacing;
    }

    footer {
      font-size: 14px;
      padding-top: $global-spacing;
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: ($global-spacing * 3);

    select {
      font-weight: normal;
      width: 100%;
    }

    .oddCycle {
      td {
        background-color: $color-white;
      }
    }

    .evenCycle {
      td {
        background-color: $color-white-dull;
      }
    }

    &.table-events {
      width: 97%;
      margin: 0 auto;
      max-width: $breakpoint-lg;

      th,
      td {
        padding-right: $global-spacing;
        padding-left: $global-spacing;
      }
    }
  }

  th {
    font-weight: bold;
    vertical-align: bottom;
    display: none;
    border-bottom: 2px solid $color-border;
    padding-right: ($global-spacing / 2);
    padding-left: ($global-spacing / 2);
  }

  td {
    text-align: left;
    vertical-align: top;
    display: block;
    padding: 0 ($global-spacing / 2) $global-spacing;

    &:before {
      display: inline-block;
      width: 100px;
    }

    &:nth-child(1) {
      &:before {
        content: 'Start Date:';
      }
    }

    &:nth-child(2) {
      &:before {
        content: 'End Date:';
      }
    }

    &:nth-child(3) {
      &:before {
        content: 'Event:';
      }
    }

    &:nth-child(4) {
      &:before {
        content: 'Group:';
      }
    }

    &:nth-child(5) {
      &:before {
        content: 'Cycle:';
      }
    }

    &:nth-child(6),
    &:nth-child(7) {
      &:before {
        content: '';
      }
    }

    &:first-child {
      border-top: 1px solid $color-border;
    }
  }

  @include breakpoint(850px) {
    table {
      &.table-events {
        width: 90%;
      }
    }

    th,
    td {
      text-align: left;
      display: table-cell;
      padding: $global-spacing 0;

      &.cell-action {
        text-align: right;
        width: 50px;
      }

      &.cell-cycle {
        width: 100px;
      }

      &.cell-date {
        width: 170px;
      }
    }

    td {
      padding-right: ($global-spacing / 2);
      padding-left: ($global-spacing / 2);
      border-top: 1px solid $color-border;

      &:before {
        display: none;
      }
    }
  }
}
