.form-search {
  @extend %site-width;
  padding-bottom: ($global-spacing * 5);
  margin-top: -($global-spacing * 4);
}

.form-label,
.form-field {
  vertical-align: middle;
  display: inline-block;
}

.form-label {
  font-size: 14px;
  margin-right: $global-spacing;
}

.form-field {
  font-size: 14px;
  height: 36px;
  padding: 0 $global-spacing;
}
