<h1>About</h1>

<ul>
  <li>Started with the new calendar</li>
  <li>Wanted to understand what was going on, so created presentation</li>
  <li>Wanted to see what has happened over the years</li>
  <li>What coincided with each new cycle?</li>
  <li>Started creating sheet with important events</li>
  <li>Realized it was quite interesting in and of itself</li>
  <li>Turned into a timeline</li>
</ul>

Created by: Borna and Tara, an investment time project at <a href="http://www.paradem.co">Paradem</a>
