<main class="site-body">
  <section class="section-inner">
    <h1>About</h1>

    <p>When the new Bahá’í calendar was announced by the Universal House of Justice in <a href="http://universalhouseofjustice.bahai.org/activities-bahai-community/20140710_001">July 2010</a>, I wanted to get an understanding of what it meant. What were the changes, and how would this affect me?</p>
    <p>These questions lead to some research and the creation of the following <a href="/calendar">presentation</a>, which answered most of the questions I had asked. However, it felt that just a presentation wasn't sufficient. A couple of new questions arose: What had happened over the years? Which events coincided with each new cycle?</p>
    <p>To answer these questions, we created a spreadsheet to help us track the important events during the history of the Faith. As we were making the sheet, we realized that it was becoming more and more interesting in and of itself, and wanted to turn it into a timeline.</p>
    <p>The result, with a bit of help and a JavaScript library, was <a href="/">this</a> timeline. We created a website to go with it, and thus the Bahá’í Timeline was born!</p>

    <p>Created by: <a href="mailto:borna@paradem.co">Borna</a>, Tara and Abdullah, an investment time project at <a href="http://www.paradem.co">Paradem</a>.</p>
  </section>
</main>
