<header class="site-header">
  <nav class="site-nav">
    <ul>
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("Events", events_path) %></li>
      <li><%= link_to("The Bahá’í Calendar", calendar_path) %></li>
      <li><%= link_to("About", about_path) %></li>
    </ul>
  </nav>
</header>
